@model ControlDesk.WebApplication.Models.Operador

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remover</h2>

<h3>Realmente deseja Remover?</h3>
<fieldset>
    <legend>Operador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Inicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Inicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa07)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa07)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa08)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa08)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa09)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa09)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa13)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa13)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa14)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa14)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa15)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa15)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa16)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa16)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa17)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa17)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa18)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa18)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa19)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa19)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa20)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa20)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPausa21)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPausa21)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdGrupo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdGrupo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
